{% extends 'base.html' %}
{% load static %}

{% block title %}Contact - Jagadeesan M{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-8 text-center" data-aos="fade-up">

        <h1 class="display-5 fw-bold mb-4">Let's Connect</h1>
        <p class="lead mb-5">Open to Full Stack Developer, IoT, Django, or Training opportunities.</p>

        <div class="d-grid gap-3 d-md-flex justify-content-center">
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=mjagadeesan113@gmail.com&su=Portfolio%20Contact&body=Hello%20Jagadeesan," 
                class="btn btn-primary btn-lg px-5">
                    <i class="fas fa-envelope me-2"></i> Email Me
            </a>
            <a href="https://wa.me/919176696726" target="_blank" class="btn btn-success btn-lg px-5">
                <i class="fab fa-whatsapp me-2"></i> WhatsApp
            </a>
        </div>

        <div class="mt-5">
            
            <div class="d-flex justify-content-center gap-4 mt-3">
                <h4 style="font-size: 30px;">Find Me On: </h4>
                <a href="https://www.linkedin.com/in/jagadeesan-m-070424228/" target="_blank" class="text-decoration-none">
                    <i class="fab fa-linkedin" style="font-size: 50px;"></i>
                </a>
                <a href="https://github.com/Jagadeesan47" target="_blank" class="text-decoration-none">
                    <i class="fab fa-github" style="font-size: 50px;"></i>
                </a>
            </div>
        </div>

        <div class="mt-5 pt-5 border-top">
            <p><strong>Phone:</strong> +91 91766 96726</p>
            <p><strong>Email:</strong> mjagadeesan113@gmail.com</p>
            <p><strong>Location:</strong> Hosur, Krishnagiri, Tamil Nadu, India</p>
        </div>

    </div>
</div>

{% endblock %}